<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vuerate</title>
	<style>
		html,
		body {
			height: 100%;
			margin: 0;
		}

		body {
			font-family: Ubuntu, Arial, Helvetica, sans-serif;
			color: #333;
		}

		body,
		.rating-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.5rem;
		}

		.rating-wrapper * {
			margin-right: 5px;
		}

		h3 {
			font-weight: normal;
			text-align: center;
		}
	</style>
</head>

<body>
	<div id="app">
		<h3>Vuerate - A Rating Plugin Made With Vue.js</h3>
		<rating :score='3'></rating>
	</div>
	<script src="vue.min.js"></script>
	<script>
		Vue.component('rating', {
			template: `
			<div class="rating-wrapper">
				<div class="rating">
					<img v-for='(item, index) in 5' :src="setStarType(index) + '.png'" alt="">
				</div>
				<span>({{score}})</span>
			</div>`,

			props: {
				score: Number
			},

			data() {
				return {
					starType: '',
					starCount: Math.floor(this.score),
				}
			},

			methods: {
				setStarType(index) {
					if (index < this.starCount)
						return this.starType = 'star'
					else return this.starType = 'star-empty'
				}
			}
		})

		new Vue({
			el: '#app'
		})
	</script>
</body>

</html>